<!DOCTYPE html>
<html lang="en" data-ng-app="FyApp" data-ng-csp>
<head>
<meta charset="utf-8"/>
    <link href="assets/libs/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/popup.css" rel="stylesheet">
    <link href="assets/libs/angular-1.4.0-rc.2/angular-csp.css" rel="stylesheet">
</head>
<body data-ng-controller="popupController">
    <div class="row">
        <div class="col-xs-10">
            <div class="form-group">
                <div class="layout-select">
                    <p>起运港:</p>
                    <!-- <input type="text" style="width: 80%;" name="" id="" ng-model="inputValue.startPort"> -->
                    <select ng-model="indexStartPort" class="select" ng-disabled="!finish && runningPort">
                        <option ng-repeat="item in startPort track by $index" value="{{item.id}}">
                            {{item.name}}
                        </option>
                    </select>
                </div>
                <div class="layout-select">
                    <p>航线:</p>
                    <select data-ng-show="indexStartPort == 0" ng-model='routeIndex' class="select" ng-disabled="!finish && runningPort">
                        <option ng-repeat="item in route[0] track by $index" value="{{item.id}}">
                            {{item.value}}</option>
                    </select>
                    <select data-ng-show="indexStartPort != 0" ng-model='routeIndex' class="select" ng-disabled="!finish && runningPort">
                        <option ng-repeat="item in route[1] track by $index" value="{{item.id}}">
                            {{item.value}}</option>
                    </select>
                </div>
                <div class="col-xs-12">
                    <div class="form-group" data-ng-show="!finish && runningPort">
                        <p>以下港口执行中,请勿随意切换港口......</p>
                        <p>{{startPort[startPortIndex].nameEnEB}} ~ {{opPort[routeIndex][0].endEB}}</p>
                    </div>
                    <alert data-ng-type="success" data-ng-show="finish && !runningPort">{{finishTxt}}</alert>
                </div> 
            </div>
            <!-- <div class="form-group">
                目的港:
                <input type="text" style="width: 80%;" name="" id="" ng-model="inputValue.endPort">
            </div> -->
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <button type="button" class="btn btn-primary" data-ng-click="runFile(true)">执行</button>
            </div>
            
        </div>
    </div>
    <div class="col-xs-12">
        <alert data-ng-type="alert_message.type" close="closeAlert()" data-ng-show="alert_message.show">{{alert_message.message}}</alert>
    </div>
</body>
<script src="assets/libs/jquery-2.1.4.min.js"></script>
<script src="assets/libs/angular-1.4.0-rc.2/angular.min.js"></script>
<script src="assets/libs/angular-1.4.0-rc.2/plugins/ui-bootstrap-tpls-0.13.0.min.js"></script>
<script src="assets/js/popup.js"></script>
<script src="assets/js/utils.js" type="module"></script>
</html>
