body { width:400px; height:150px; margin:10px !important; padding: 16px;}

.input-small { width:158px; display:inline !important; }
.input-large { width:320px; display:inline !important; }
.select {
    width: 150px;
    height: 34px;
}